.banner{
	padding-top:12px;
}
.pg_contact {
	padding-bottom:15px;
}
.pg_contact .aside{
	width:220px;
}
.pg_contact .main{
	width:752px;
	border:2px solid #ddd;
	background:#fff;
	_height:550px;
	min-height:550px;
}
.pg_contact .article{
	padding:25px 35px;
}
.sidemenu {
	border-top:3px solid #04ba1a;
	background:#fff;
}
.sidemenu h2{
	border:2px solid #ddd;
	border-top-style:none;
	border-bottom-width:1px;
	background:url(../img/bg_sidemenu_tit.png) 0 0 repeat-x;
	height:35px;
	line-height:36px;
	color:#555;
	font-size:14px;
	font-weight:bold;
	padding-left:15px;	
}
.sidemenu .section {
	border:2px solid #ddd;
	border-top:none;
}
.sidemenu .contact{
	padding:10px;
}
.sidemenu .contact dt{
	display:block;
	position:absolute;
	width:31px;
	height:31px;
	margin:1px 0 0 3px;
	background-image:url(../img/bg_contact_aside.png);
	background-repeat:no-repeat;
}
.sidemenu .contact dd{
	padding-left:42px;
	padding-bottom:5px;
	color:#333;
	font-size:13px;
}
.sidemenu .contact .icon_addr{
	background-position:0 0;
}
.sidemenu .contact .icon_tel{
	background-position:0 -57px;
}
.sidemenu .contact .tit{
	font-size:14px;
	display:block;
	color:#009300;
	padding:5px 0 8px;
}
.sidemenu .line{
	height:0;
	margin:0 10px;
	overflow:hidden;
	border-top:1px dashed #ddd;
}
.sidemenu .guestbook{
	padding:0;
}
.sidemenu .guestbook dd{
	padding:9px 0 9px 53px ;
	color:#333;
	font-size:13px;
	background:url(../img/bg_contact_aside.png) 0 -121px no-repeat;
}
.sidemenu .guestbook .tit{
	font-size:14px;
	display:block;
	color:#009300;
	padding:5px 0 0;
	margin-bottom:-2px;
}
.sidemenu .guestbook sub{
	font-size:12px;
	color:#f60;	
}
.sidemenu .guestbook a{
	display:block;
}
.sidemenu .guestbook a:hover {
	text-decoration:none;
}
.sidemenu .guestbook a:hover .tit{
	color:#038307;
}
.sidemenu .guestbook a:hover sub{
	color:#ff6a00;
}
.article .main_tit{
	font-size:20px;
	color:#009300;
	font-weight:bold;
	font-family:"microsoft yahei";
	margin-bottom:20px;
	padding-bottom:15px;
	text-align:left;
	padding-left:10px;
	border-bottom:1px dashed #ddd;
}
.article .section{
	padding-left:10px;
	padding-right:10px;
}
.article .formsub {
	padding-top:25px;
	padding-bottom:10px;
	background-color:#f7f7f7;
}
.article .formsub li{
	padding-bottom:17px;
	padding-left:120px;
}
.article .formsub .label{
	font-size:13px;
	color:#666;
	text-align:right;
	margin-left:-120px;
	width:120px;
}
.article .formsub .intxt{
	border-color:#c5c5c5;
	font-size:13px;
	height:18px;
}
.article .formsub .Validform_checktip{
	margin-bottom:-3px;
	_margin-bottom:5px;
}
.article .formsub .intxtAreaLine .Validform_checktip{
	vertical-align:top;
}
.article .formsub .intxtArea{
	height:85px;
	width:320px;
	background-color:#fff;
}
.article .formsub .intxtfocus{
	border-color:#ffaf76!important;
}
.article .formsub .btn_sub{
	margin-left:5px;
	display:inline-block;
	border:1px solid #ff6a00;
	color:#fff;
	font-size:14px;
	width:140px;
	font-weight:bold;
	height:26px;
	line-height:24px;
	text-align:center;
	-moz-box-shadow: inset 0 -1px #ff3300;
	-webkit-box-shadow: inset 0 -1px #ff3300;
	box-shadow: inset 0 -1px #ff3300;
	/*Inner elements should not cover inner shadows*/
	/*IE 7 AND 8 DO NOT SUPPORT INSET SHADOWS*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ff6a00', endColorstr = '#ff6600');
	/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ff6a00', endColorstr = '#ff6600')";
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	background-image: -moz-linear-gradient(top, #ff6a00, #ff6600);
	background-image: -ms-linear-gradient(top, #ff6a00, #ff6600);
	background-image: -o-linear-gradient(top, #ff6a00, #ff6600);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ff6a00), to(#ff6600));
	background-image: -webkit-linear-gradient(top, #ff6a00, #ff6600);
	background-image: linear-gradient(top, #ff6a00, #ff6600);
	/*--IE9 DOES NOT SUPPORT CSS3 GRADIENT BACKGROUNDS--*/
}
.article .formsub .btn_sub:hover{
	text-decoration:none;
	color:#fff;
}