
.pageNav_records,
.pageNav{ padding-left:5px; font-family:tahoma,SimSun; font-size:14px; line-height:24px; }
.pageNav_records em{font-style:normal;font-weight:bold;}
.pageNav a.pre span,
.pageNav a.next span,
.pageNav a.conf span{
	background: url(../img/bg_pagenav.png);
	*line-height:25px;
	_line-height:24px;
}
:root .pageNav a.pre span,
:root .pageNav a.next span,
:root .pageNav a.conf span {
	line-height:25px\0;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
.pageNav a.pre span,
.pageNav a.next span,
.pageNav a.conf span{
	line-height:24px;
}
}
.pageNav{color:#666;zoom:1;}
.pageNav span,
.pageNav a,
.pageNav ins{font-size:12px;}
.pageNav a {
    border: 1px solid #ddd;
	display:inline-block;
	height:24px;
	zoom:1;
    margin-left:0;
	color:#5e5e5e;
	vertical-align:middle;
	overflow:hidden;
}
.pageNav span.pageTotal {
	margin-left:10px;
}
.pageNav span.pageTotal strong {}
.pageTo {
	margin-left:10px;
}
.pageNav a:hover {
    border: 1px solid #f60;
    color: #f60;
    cursor: pointer;
    text-decoration: none!important;
}
.pageNav a span {
	float:left;
    background-position:left top;
    display: inline-block;
    padding: 0 10px;
	background-color:#fff;
	font-size:12px;
}
.pageNav ins {
    margin:0 5px 0 0;
    text-decoration: none;
	color:#333;
}
.pageNavBot {
    border-top: 1px solid #dbdbdb;
}
.pageNav a.curr ,
.pageNav a.curr:hover {
    color: #f60;
    cursor: default;
    text-decoration: none;
	border:1px solid #f60;
}
.pageNav a.curr span {
	 background-color:#fff!important;
}
.pageNav a.pre span, 
.pageNav a.next span {
	background-repeat:no-repeat;
    border:none;
    padding: 0;
	font-family:SimSun;
	font-family:Tahoma\0;
}
.pageNav a.pre span {
    padding-left: 10px;
	background-position:left 7px;
}
.pageNav a.next,
.pageNav a.pre{
	padding-left:5px;
	padding-right:5px;
	background-color:#fff;
}
.pageNav a.next span {
    background-position: right -13px;
    padding-right: 10px;
}
.pageNav a.preDisable, 
.pageNav a.preDisable:hover, 
.pageNav a.nextDisable, 
.pageNav a.nextDisable:hover {
    border: 1px solid #ddd;
    color: #cccccc;
    cursor: default;
	background-color:#f8f8f8;
}
.pageNav a.preDisable span, 
.pageNav a.nextDisable span {
	background-color:#f8f8f8;
	 cursor: default!important;
}
.pageNav a.preDisable span, 
.pageNav a.preDisable:hover span {
    background-position: left -38px;
}
.pageNav a.nextDisable span, 
.pageNav a.nextDisable:hover span {
    background-position: right -58px;
}
.pageNav .intxt{font-size:14px; text-align:center; width:20px; height:22px; padding:1px 2px; border:1px solid #ccc; color:#333; vertical-align:middle;}

.pageNav a.conf{width:57px;height:26px; border: none;color:#fff; margin-left:10px; background:url(../img/sprite_btns.png) 0 0 no-repeat;}
.pageNav a.conf span{height:26px;background-color:transparent; background-image:none; text-indent:1000px;}
.pageNav a.conf:hover { border-style:none; color:#fff;}
.pageNav a.conf:hover span{background-color:transparent;}

.bordtop{border-top:1px solid #DFDFDF;}
.btn_prev,
.btn_next{
	width:69px;
	height:26px;
	line-height:26px;
	overflow:hidden;
	font-family:simsun;
	*line-height:28px;
	line-height:28px\0;
	_line-height:27px;
	text-indent:23px;
	font-size:12px;
	text-align:left;
	color:#666;
	background:url(../img/prenext.png) no-repeat;
}
.btn_prev:hover{background-position:left -60px; text-decoration:none; color:#333;}
.btn_next{background-position:-73px 0; text-indent:12px;}
.btn_next:hover{background-position:-73px -60px; text-decoration:none; color:#333;}
.preDisable,
.preDisable:hover{background-position:left -30px; cursor:default; color:#aaa;}
.nextDisable,
.nextDisable:hover{background-position:-73px -30px; cursor:default; color:#aaa;}