/* common css ============================================== */
body{margin:0 auto;	text-align:center; font-family:tahoma,arial,\5b8b\4f53; font-size:12px; line-height:1.5; color:#666; background-color:#f9f9f9; cursor:default;}
div{text-align:left;}
:focus{outline:none;}
h4,h3,h2,h1{font-size:14px; margin:0;}
form,ul,ol,dl,dd,p{margin:0; padding:0;}
li{list-style-type:none;}
img{border:none;}
button,input,select,textarea{font-size:12px; margin:0; color:#666; font-family:tahoma,arial,\5b8b\4f53; line-height:1.5;}
a{color:#666; text-decoration:none;}
a:hover{text-decoration:underline; color:#f60;}
a *{cursor:pointer;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom; *font-size:.8em; *position:relative; *top:-2px;}
.ie8 sub{vertical-align:bottom;}
del{color:#989898;}
table{border-collapse:collapse; border-spacing:0;}
blockquote{ margin:0; padding:0; display:block;}
/* for font & text & tag =================================== */
.red{color:#f52800;}
.gray,.hasDefaultText{color:#c2c2c2;}
.grayB{color:#999;}
.orange{color:#f60;}
.orangeB{color:#f90;}
.green{color:#038307;}
.blue{color:#69c;}
.blueB{	color:#3882af;}
.pink{color:#dc3558;}
.yellow{color:#fcff11;}
.black{color:#000;}
.khaki{color:#cd8d26;}
.roseo{color:#870123;}
b{font-weight:normal; display:inline-block; margin:0 8px;}
/* for margin & padding | width & height =================== */
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}

.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}

.mr5{margin-right:5px;}
.mr10 {margin-right: 10px;}
.mr20{margin-right:20px;}

.ml5{margin-left:5px;}
.ml10 {margin-left: 10px;}
.ml20 {margin-left: 20px;}
.ml30 {margin-left: 30px;}

.p10{padding:10px;}
.p25{padding:25px;}
.p5_0{padding:5px 0;}
.p10_0{padding:10px 0;}
.p0_25{padding:0 25px;}
.p0_5{padding:0 5px;}
.p0_10{padding:0 10px;}

.tl{ text-align: left}
.tr{ text-align: right}
.tc{ text-align: center}
/* class css ============================ class css ======== */
.fl{float:left; display:inline;}
.fr{float:right;display:inline;}

.inblock{display:inline-block; width:0; height:0; overflow:hidden; text-indent:-20000px; vertical-align:middle; *text-indent:0; *font-size:0; *line-height:0;}

.size3t4 { letter-spacing: 0.5em; margin-right: -0.5em; white-space:nowrap;}
.size2t4 { letter-spacing: 2em; margin-right: -2em; white-space:nowrap;}
.size2t3 { letter-spacing: 1em; margin-right: -1em; white-space:nowrap;}
.size3t5 { letter-spacing: 1em; margin-right: -1em; white-space:nowrap;}

.fz14{font-size:14px;}
.fz16{font-size:16px;}
.fb{font-weight:bold;}

.col_190{width:190px;}
.col_790{width:790px;}

.intxt{
	border:1px solid #d4d4d4;
	padding:4px;
	*padding-top:3px;
	_padding-top:4px;
	width:180px;
	height:16px;
	background-color:#fff;
}

.list li a{background:url(../img/sprite.png) no-repeat 1px -465px; padding-left:12px; vertical-align:middle;}
.list li a:hover { background-position:1px -513px;}
.list2 li{background:url(../img/sprite.png) no-repeat 1px -648px; padding-left:12px; vertical-align:middle;}

.intxtfocus{border-color:#FF5027!important;}

.block img{
	display:block;
}
.textnowrap{
	white-space:nowrap;	
}

.cmnLoadB { 
	background:url(../img/onLoad.gif) no-repeat left center; 
	display: inline-block; 
	height: 16px; 
	padding-left: 20px; 
} 

.ie6png{}
.fadeSiblings{}
/* layout css ============================================== */
.wraper{
	width:990px;
	margin-left:auto;
	margin-right:auto;
}

/* Topbar */
#topbar{}


/* Header */
#header{z-index:90; position:relative;}
#header .wraper{
	height:108px;
	position:relative;
}
#header .logo{
	width:332px;
	height:78px;
	position:absolute;
	left:0;
	top:15px;
	background:url(../img/logo.png) no-repeat;
}
#header .slogan{
	position:absolute;
	right:0;
	bottom:50px;
	height:0;
	padding-top:19px;
	overflow:hidden;
	width:190px;
	/*color:#f60;
	font:normal normal 16px "microsoft yahei";*/
	background:url(../img/slogan.png) 0 0 no-repeat;
}
#header .hotline{
	position:absolute;
	height:0;
	padding-top:19px;
	overflow:hidden;
	width:160px;
	right:0;
	bottom:19px;
	color:#038307;
	/*padding-left:27px;
	font:normal normal 14px/22px Verdana;*/
	background:url(../img/hotline.png) 0 0 no-repeat;
}

/* Menu */
#menu{
	z-index:80;
	position:relative;
	background:url(../img/bg_menubar.png) 0 0 repeat-x;
}
#menu .wraper{
	height:50px;
	position:relative;
}
#menu .navigation{
	height:50px;
	width:975px;
	padding:0;
	top:0;
	position:absolute;
	left:0;
}
#menu .navigation li{
	float:left;
	height:50px;
	line-height:50px;
	margin-right:1px;
	position:relative;
	white-space:nowrap;
}
#menu .navigation li .item,
#menu .navigation .item span{
	background-image:url(../img/channel_navbg.png);
	background-repeat:no-repeat;
	background-position:0 1000px;
}
#menu .navigation li .item{
	display:inline-block;
	height:50px;
	padding-right:30px;
	font-size:14px;
	color:#fff;
	font-family:"microsoft yahei",Arial;
	font-weight:bold;
	position:relative;
}
#menu .navigation .item span {
	display:inline-block;
	height:50px;
	padding-left:30px;
	text-align:center;
}
#menu .navigation li .item:hover{
	color:#fff;
	text-decoration:none;
	background-position:right 0;
}
#menu .navigation .item:hover span {
	background-position:0 0;
}
#menu .navigation .now .item{
	color:#fff;
	background-position:right 0;
}
#menu .navigation .now span {
	background-position:0 0;
}

/* Main */
#main {}
/* Crumb */
.crumb{
	height:36px;
	line-height:36px;
	border-bottom:1px solid #d5d5d5;
	font-size:12px;
	color:#666;
	background:#f8f8f8 url(../img/crumb_bg.png) left bottom repeat-x;
}
.crumb a{
	color:#666;
}
.crumb b{
	width:9px;
	overflow:hidden;
	display:inline-block; 	
	height:30px; 
	overflow:hidden; 
	zoom:1;
	text-indent:-20000px; 
	vertical-align:middle; 
	*text-indent:0; 
	*font-size:0; 
	*line-height:0;
	vertical-align:middle;
	background:url(../img/sprite.png) left -775px no-repeat;
}
.crumbline{height:23px;margin-bottom:10px;padding-left:15px;background:url(../img/acont_sprite.png) no-repeat left top;line-height:23px;}
.crumbline b{display:inline-block;background-position:left -777px;vertical-align:top;}

/* Footer */
#footer{
	padding:0 0 20px;
	zoom:1;
	border-top:3px solid #058f0e;
}
#footer .wraper{
	position:relative;
}
#footer .aside {
	padding-top:15px;
	border-top:1px solid #dfdfdf;
}
#footer .aside p{
	font-size:12px;
	color:#666;
	margin-top:6px;
	font-family:Arial,SimSun;
	text-align:center;
}
#footer .aside a{
	color:#666;
}
#footer .aside a:hover{
	color:#038307;
}

#footer .footer{
	color:#fff;
	padding:12px 0;
	border-top:1px solid #058f0e;
	background:#01aa07;
	border-bottom:1px solid #48c14c;
	font-size:14px;
	font-family:microsoft yahei;
}
#footer .footer .wraper{
	padding-left:15px;
}
#footer .footer b{
	color:#fff;
	margin-left:15px;
	margin-right:15px;
}
#footer .footer a{
	color:#fff;
}
#footer .footer a:hover{
	color:#fff;
}

/*--find height for float elements --------------------------*/
.clear{clear:both; height:0; overflow:hidden;}
.cls:after{content:"";font-size:0;display:block;height:0;clear:both;visibility:hidden;}
* html .cls{ zoom: 1; } /* IE6 */
*:first-child+html .cls{ zoom: 1; } /* IE7 */
/*-----------------------------------------------------------*/

/* Xslider */
.abtn {
    background: url("../img/sprite.png") no-repeat;
    display: block;
	width: 18px;
    height: 31px;
    overflow: hidden;
    position: absolute;
    text-indent: -20000px;
    top: 58px;
}
.aleft {
	left:4px;
    background-position: -1px -421px;
}
.aright {
    background-position: -1px -387px;
    right:4px;
}
.agrayleft,
.agrayright {
	display:none;
}
/*==========Validform===========*/
.Validform_checktip{
	margin-left:8px;
	line-height:20px;
	height:20px;
	overflow:hidden;
	color:#999;
	font-size:12px;
	display:inline-block;
}
.Validform_right{
	color:#078f00;
	padding-left:20px;
	background:url(../img/right.png) no-repeat left center;
}
.Validform_wrong{
	color:#f21a00;
	padding-left:20px;
	white-space:nowrap;
	background:url(../img/error.png) no-repeat left center;
}
.Validform_loading{
	padding-left:20px;
	background:url(../img/onLoad.gif) no-repeat left center;
}
.Validform_error{
	background-color:#ffe7e7;
}
#Validform_msg{color:#333; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:375px; -webkit-box-shadow:2px 2px 3px rgba(0,0,0,.2); -moz-box-shadow:2px 2px 3px rgba(0,0,0,.2); -ms-box-shadow:2px 2px 3px rgba(0,0,0,.2); -o-box-shadow:2px 2px 3px rgba(0,0,0,.2); box-shadow:2px 2px 3px rgba(0,0,0,.2); background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{height:45px;padding:0;line-height:45px;font-size:20px;font-weight:normal;color:#fff;text-indent:35px;background:url(../img/logtit.gif) repeat-x;position:relative; font-family:"microsoft yahei",arial;}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{display:block;width:17px;height:14px;text-indent:-20px;overflow:hidden;line-height:22px; position:absolute; right:14px; top:16px;color:#fff;font-size:18px; text-decoration:none;background:url(../img/popwin_close.png) no-repeat scroll 0 0 transparent;}
#Validform_msg a.Validform_close:hover{color:#fff;}
#Validform_msg .Validform_info{padding:20px 20px 20px 35px;border:1px solid #d8d8d8; border-top:none; text-align:left;}

.cmntip{
	display:inline-block;
	padding-left:18px;
	font-size:12px;
}
.cmntip_error{
	color:#f21a00;
	background:url(../img/error.png) no-repeat left center;
}
.cmntip_right{
	color:#71b83d;
	background:url(../img/right.png) no-repeat left center;
}

/* customer select */
/***
 * Customized Select Menu
 * Last Update:		2013.05.30
 * Author:				Sean Huang
 * Modified By:			Teller Shen, Dan Yang
 * JS Method Requires:	UI.laterEvent(), BindSelect();
***/

.select {
    position: relative;
    width: 100px;
	text-align:left;
	border: 1px solid #d7d7d7;
}
.select dt {
    background-color: #fff;
	position:relative;
    height: 28px;
    line-height: 28px;
}
.select dt a {
	border:1px solid #fff;
    display: block;
	height:26px;
	line-height:26px;
	overflow:hidden;
    padding: 0 20px 0 8px;
	background:url(../img/select.gif) no-repeat right top;
	color:#333;
}
.select dt a:hover{text-decoration:none;}
.select dd {
    display: none;
    left: -1px;
    position: absolute;
    top: 23px;		
	background-color:#fff;
	max-height:300px;
	overflow:auto;
	overflow-x:hidden;
	zoom:1;
	border: 1px solid #D7D7D7;
}

.ie6 .select dd {
	_max-height:expression(this.style.height=(this.offsetHeight<300)?"auto":"300px");
}
.select dd ul{
	display:inline-block;
}

.select dd li {
	height:24px;
	min-height:24px;
	line-height:22px;
    padding:0 !important;
	display:block;
	background:#fff;	
	width:100%;
}
.select dd a {
    color: #333333;
    display: block;
    height: 22px;
	line-height:22px;
    padding: 0 8px;
	white-space:nowrap;
	border:1px solid #fff;
}
.select dd a:hover {
    background-color: #c4c3c3;
    color: #fff;
    text-decoration: none;
}
.select25 dt{
	height:23px;
	line-height:23px;
}
.select25 dt a{
	height:21px;
	line-height:21px;
	background-position:right -3px;
}
.select25 dd{
	top:23px;
}
.disabled dt{
	background-color:#dedede;
}
.disabled dt *{
	cursor:default;
	color:#999!important;
}

/* form submit*/
.formsub li{
	min-height:30px;
	_height:30px;
	line-height:28px;
	position:relative;
	padding-bottom:22px;
	padding-left:150px;
	zoom:1;
}
.formsub .label{
	float:left;
	display:inline-block;
	width:145px;
	padding-right:5px;
	text-align:right;
	font-size:14px;
	line-height:28px;
	margin-left:-150px;
}
.formsub .action{
	padding:0 0 0 150px;
}
.formsub .ck{
	vertical-align:middle;
}
.formsub textarea{
	border:1px solid #d8d8d8;
	padding:4px;
	width:90%;
	height:80px;
	overflow:auto;
	background-color:#f3f3f3;
	resize:none;
}
.formsub{
	zoom:1;	
}


/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer {
	overflow: hidden;
	position: relative;
}
.jspPane {
	position: absolute;
}
.jspVerticalBar {
	position: absolute;
	top: 0;
	right: 0;
	width: 6px;
	height: 100%;
	background: #ed145b;
}
.jspHorizontalBar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}
.jspVerticalBar *, .jspHorizontalBar * {
	margin: 0;
	padding: 0;
}
.jspCap {
	display: none;
}
.jspHorizontalBar .jspCap {
	float: left;
}
.jspTrack {
	background: #e6e6e8;
	position: relative;
}
.jspDrag {
	background: #ed145b;
	position: relative;
	top: 0;
	left: 0;
	border-radius:5px;
	cursor: pointer;
}
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag {
	float: left;
	height: 100%;
}
.jspArrow {
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}
.jspArrow.jspDisabled {
	cursor: default;
	background: #80808d;
}
.jspVerticalBar .jspArrow {
	height: 16px;
}
.jspHorizontalBar .jspArrow {
	width: 16px;
	float: left;
	height: 100%;
}
.jspVerticalBar .jspArrow:focus {
	outline: none;
}
.jspCorner {
	background: #eeeef4;
	float: left;
	height: 100%;
}
/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
	margin: 0 -3px 0 0;
}


.btn,
.btn span{
	display:inline-block;
	height:22px;
	line-height:22px;
	background:url(../img/sprite_btn.png) no-repeat;
}
.btn{padding-left:10px;}
.btn span{
	cursor:pointer;
	float:left;
	padding-right:10px;
	background-position:right 0;
}
.btn:hover,
.btn:hover span{
	text-decoration:none;
}


.btn_gray31,
.btn_gray31 span{

	height:31px;
	line-height:31px;
}
.btn_gray31{
	color:#888;
	background-position:left -29px;
}
.btn_gray31 span{
	background-position:right -29px;
}
.btn_gray31:hover{color:#888; background-position:left -201px;}
.btn_gray31:hover span{
	background-position:right -201px;
}
.btn_gray31_bggray{background-position:left -135px;}
.btn_gray31_bggray span{background-position:right -135px;}

.btn_gray31_disable,
.btn_gray31_disable:hover,
.btn_gray31_disable span{
	color:#aaa;
	cursor:default;
}

.btn_gray31_disable:hover{background-position:left -29px;}
.btn_gray31_disable:hover span{background-position:right -29px;}

.btn_gray22,
.btn_gray22 span{
	height:22px;
	line-height:22px;
}
.btn_gray22{
	color:#333;
	background-position:left -68px;
}
.btn_gray22 span{
	background-position:right -68px;
}
.btn_gray22:hover{color:#027dcb; background-position:left -237px;}
.btn_gray22:hover span{background-position:right -237px;}

.btn_gray25,
.btn_gray25 span{
	height:25px;
	line-height:25px;
}
.btn_gray25{
	color:#333;
	background-position:left -101px;
}
.btn_gray25 span{
	background-position:right -101px;
}
.btn_gray25:hover{color:#027dcb; background-position:left -171px;}
.btn_gray25:hover span{background-position:right -171px;}

.btn_orange24,
.btn_orange24 span{
	height:24px;
	line-height:22px;
}
.btn_orange24{
	color:#fff;
	background-position:left -264px;
}
.btn_orange24 span{
	background-position:right -264px;
}
.btn_orange24:hover{color:#fff; background-position:left -293px;}
.btn_orange24:hover span{background-position:right -293px;}

.btn_orange30,
.btn_orange30 span{
	height:30px;
	line-height:30px;
	font-family:SimSun;
	font-size:14px;
	font-weight:bold;
}
.btn_orange30{
	padding-left:28px;
	color:#fff;
	background-position:left -320px;
}
.btn_orange30 span{
	padding-right:28px;
	background-position:right -320px;
}
.btn_orange30:hover{color:#fff; background-position:left -354px;}
.btn_orange30:hover span{background-position:right -354px;}

.btn_grayC{
	color:#999;
	background-position:0 -62px;
	font-size:14px;
	height:30px;
	vertical-align:middle;
}
.btn_grayC span{
	background-position:right -62px;
	height:30px;
	line-height:30px;
	
}
.btn_grayC:hover{
	color:#626164 !important;
	background-position:0 -96px;
}
.btn_grayC:hover span{
	background-position:right -96px;
}

.btn_grayC_disable{
	color:#999 !important;
	background-position:0 -62px;
	font-size:12px;
	height:30px;
	vertical-align:middle;
	cursor:default;
}
.btn_grayC_disable span{
	background-position:right -62px;
	height:30px;
	line-height:30px;
	cursor:default;
	color:#999 !important;
}
.btn_grayC_disable:hover{
	color:#999 !important;
	background-position:0 -62px;
	cursor:default;
}
.btn_grayC_disable:hover span{
	background-position:right -62px;
	cursor:default;
}

.btn_grayD{
	color:#626164;
	background-position:0 -31px;
}
.btn_grayD span{
	background-position:right -31px;
}
.btn_grayD:hover{
	color:#666;
	background-position:0 -243px;
}
.btn_grayD:hover span{
	background-position:right -243px;
}

.btn_grayD_disable,
.btn_grayD_disable:hover{
	color:#999;
	background-position:0 -31px;
	cursor:default;
}
.btn_grayD_disable span,
.btn_grayD_disable:hover span{
	color:#999;
	background-position:right -31px;
	cursor:default;
}
.btn_loading{
	background:url(../img/btn_loading.png) no-repeat;
	width:120px;
	height:34px;
	vertical-align:middle;
	text-align:center;
	padding:0;
	cursor:default;
	position:relative;
}

.btn_loading span{
	background:none;
	color:#666;
	float:none;
	padding:0;
	cursor:default;
	padding-left:20px;
}
.btn_loading i{
	background:url(../img/onLoad.gif) no-repeat;
	width:	16px;
	height:16px;
	display:block;
	position:absolute;
	top:6px;
	left:16px;
}
.floatFunc {
	display:block;
	width:70px;
	overflow:hidden;
	position:fixed;
	right:0;
	bottom:0;
	_position:absolute;
	_top:expression(documentElement.scrollTop+documentElement.clientHeight-this.offsetHeight-10);
	z-index:101;
}
.floatFunc .item {
	position:relative;
	display:block;
	width:60px;
	height:60px;
	color:#666;
	margin-bottom:10px;
}
.floatFunc .item a {
	display:block;
	width:60px;
	height:25px;
	padding-top:35px;
	color:#666;
	text-align:center;
	background:url(../img/bg_floatFunc.png) 0 0 no-repeat;
}
.floatFunc .item a:hover {
	text-decoration:none;
	color:#f52800;
}
.floatFunc .item .toCart {
	background-position:0 0;
}
.floatFunc .item .toCS {
	background-position:0 -70px;
}
.floatFunc .item .toSign {
	background-position:0 -140px;
}
.floatFunc .item .toTop {
	background-position:0 -210px;
}
.floatFunc .toCart .num {
	position:absolute;
	display:block;
	top:4px;
	right:4px;
	width:25px;
	height:24px;
	background:url(../img/bg_floatFunc.png) 0 -276px no-repeat;
}
.floatFunc .toCart .num em {
	display:block;
	width:18px;
	margin-left:4px;
	font-family:Verdana, tahoma;
	color:#fff;
	font-style:normal;
	text-decoration:none;
	letter-spacing:-1px;
}

.point{
	color:#222;
	font-size:14px;	
	font-family:arial;
	display:inline-block;
	line-height:18px;
	font-weight:bold;
}
.point em{
	font-size:11px;
	font-family:"microsoft yahei",Tahoma,simsun;
	font-style:normal;
}



